.collab__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    font-family: var(--font-gilroy-extrabold);
}

.collab__heading {
    font-size: 24px;
    font-weight: 600;
}

.submit__button {
    background-color: #FFE500;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.submit__button h3 {
    font-size: 16px;
    font-weight: 500;
}